.sidebar{
    display: flex;
    flex-direction:column;
    width:70px;
    position:fixed;
    top:55px;
    left: 5px;
    bottom: 0;
    background-color: white;
    z-index: 200;
}

.sidebar-link{
    height: 76px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-link:hover{
    background-color: rgb(235,235,235);
    cursor: pointer;
}

.sidebar-labels{
    font-family: Roboto,Arial;
    font-size: 10px;
}

.sidebar-icons{
    height:24px;
    margin-bottom: 5px;
}